.singlePage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    &__cardsContainer {
        display: flex;
        flex-direction: row;
        margin-left: 20vw;
        transition: ease-in-out 1s;
    }
    &__dotsContainer {
        position: absolute;
        bottom: 40px;
        left: 40vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 20vw;
        height: 12px;
    }
    &__dot {
        width: 9px;
        height: 9px;
        background: #fff;
        border-radius: 50%;
        cursor: pointer;
    }
    &__closeFS {
        color: #CC2F2F;
        transition: ease-in-out 1s;
        cursor: pointer;
        font-family: 'Avenir', 'Fjalla One', sans-serif;
        font-size: 12px;
        letter-spacing: 1.4px;
        position: fixed;
        top: 40px;
        right: 6%;
        z-index: 1000;
    }
}

.redDot {
    background: #C30909;
    opacity: .84;
    width: 11px;
    height: 11px;
}

.bgStars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -2;
}
.bgMoon {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40vw;
    height: 80vh;
    z-index: -2;
}

.bgFilter {
    background: rgba(0, 0, 0, .3);
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
}