.singlePage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    &__cardsContainer {
        display: flex;
        flex-direction: row;
        margin-left: 25vw;
        transition: ease-in-out 1s;
    }
    &__dotsContainer {
        position: absolute;
        bottom: 40px;
        left: 40vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 20vw;
        height: 12px;
    }
    &__dot {
        width: 9px;
        height: 9px;
        background: #0F0F0F;
        opacity: .4;
        border-radius: 50%;
        cursor: pointer;
    }
    &__closeFS {
        color: #CC2F2F;
        transition: ease-in-out 1s;
        cursor: pointer;
        font-family: 'Avenir', 'Fjalla One', sans-serif;
        font-size: 12px;
        letter-spacing: 1.4px;
    }
}

.redDot {
    background: #C30909;
    opacity: .84;
    width: 11px;
    height: 11px;
}