.singlePage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    &__cardsContainer {
        display: flex;
        flex-direction: row;
        margin-left: 25vw;
    }
    &__dotsContainer {
        position: absolute;
        bottom: 40px;
        left: 40vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 20vw;
        height: 12px;
    }
    &__dot {
        width: 8px;
        height: 8px;
        background: #0F0F0F;
        opacity: .4;
        border-radius: 50%;
        cursor: pointer;
    }
    // &__dot:hover {
    //     background: #C30909;
    //     opacity: .84;
    //     width: 12px;
    //     height: 12px;
    // }
}