@import '../../styles/mixin.scss';

.Home {
    color: #ffffff;
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Avenir', 'Fjalla One', sans-serif;
    position:relative;

    &__bgBlack {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 999999;
        background: #000;
    }
    &__welcome {
        font-size: 3.2em;
        letter-spacing: .3em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    &__toThe {
        font-size: 3.2em;
        letter-spacing: .3em;
        position: absolute;
        top: 56%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
    }
    &__titleWrapper {
        top: -140px;
        position: absolute;
        z-index: 999;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-size: 3.2em;
        color: white;
        font-weight: 300;
        letter-spacing: 0.4em;
        transform: translateX(8px);
        margin: 24px 0px;
    }

    &__titleTraitTop {
        width: 670px;
        height: 8px;
        background: rgba(255, 255, 255, 1);
        position: relative;        
    }
    &__titleTraitTop::before {
        content: '';
        position: absolute;
        width: 670px;
        height: 4px;
        transform: translateY(-12px);
        background: rgba(255, 255, 255, .7);
    }
    &__titleTraitTop::after {
        content: '';
        position: absolute;
        width: 670px;
        height: 1.8px;
        transform: translateY(-24px);
        background: rgba(255, 255, 255, .5);
    }
    &__titleTraitBottom {
        width: 670px;
        height: 9px;
        background: rgba(255, 255, 255, 1);
        position: relative;
    }
    &__titleTraitBottom::before {
        content: '';
        position: absolute;
        width: 670px;
        height: 1px;
        transform: translateY(-4px);
        background: rgba(255, 255, 255, .8);
    }
    &__titleTraitBottom::after {
        content: '';
        position: absolute;
        width: 670px;
        height: 1px;
        transform: translateY(12px);
        background: rgba(255, 255, 255, .8);
    }
    &__button {
        border: 1px solid white;
        font-size: 1.8em;
        letter-spacing: .2em;
        color:white;
        padding: .4em .8em;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 24px;
        text-transform: uppercase;
        cursor: pointer;
        position: absolute;
        z-index: 999;
        bottom: 60px;
        opacity: 0;
    }
}

body {
    margin: 0;
    overflow: hidden;
}
#canvas {
    // background-image: url("../../assets/res/bg.jpg");
    background-repeat: repeat;
} 