@import '../../styles/mixin.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

.Home {
    color: #ffffff;
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Fjalla One', sans-serif;
    &__container {
        width: 85%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(43vh, auto);
        grid-template-areas: 
            '. . top-right'
            'bottom-left bottom-left bottom-right';
    }
// logoDiv section
    .top-right {
        grid-area: top-right;
        display: flex;
        justify-content: flex-end;
    }
// textDiv section
    .bottom-left {
        grid-area: bottom-left;
        display: flex;
    }
// chaptersDiv section
    .bottom-right {
        grid-area: bottom-right;
        display: flex;
        justify-content: flex-end;
    }

// logo section
    &__logo {
        height: 86px;
        width: 84px;
    }
// textDiv section
    &__textDiv {
        font-family: 'Roboto', sans-serif;
        &__container {
            height: 75%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &__title {
            text-transform: uppercase;
            font-family: FjallaOne;
            font-size: 48px;
            letter-spacing: 7.2px;
        }
        &__subtitle {
            font-family: FjallaOne;
            font-size: 48px;
        }
        &__whiteLine {
            width: 135px;
            height: 3px;
            background: #ffffff;
            margin: 14px 0px;
            border-radius: 40px;
        }
        &__text {
            width: 57%;
            font-family: Roboto;
            font-size: 19px;
            text-align: justify;
        }
    }

// chaptersDiv section   
    &__chaptersDiv {
        font-family: 'Roboto', sans-serif;
        &__container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 75%;
        }
        &__button1 {
            @include HomeBtn;
        }
        &__button1:hover {
            color: black;
            background: white;
            border: 1px solid black;
        }
        &__button2 {
            @include HomeBtn;
        }
        &__button2:hover {
            color: black;
            background: white;
            border: 1px solid black;
        }
        &__button3 {
            @include HomeBtn;           
        }
        &__button3:hover {
            color: black;
            background: white;
            border: 1px solid black;
        }
    }
}

.bgHome {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -2;
}

.blackOverlay {
    background: rgba(0, 0, 0, .4);
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
}