@import '../../styles/mixin.scss';

.Home {
    color: #ffffff;
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Avenir', 'Fjalla One', sans-serif;
    position:relative;
}

body {
    margin: 0;
    overflow: hidden;
}
#canvas {
    // background-image: url("../../assets/res/bg.jpg");
    background-repeat: repeat;
}