.timeline {
    &__period {
        display: flex;
        justify-content: center;
        color: #CC2F2F;
        width: 18%;
        height: 6px;
        background: rgba(255, 255, 255, 1);
        transition: ease-in-out .2s;
        border-radius: 8px;
        &__text {
            display: none;
            font-size: 1.2em;
        }
    }
    &__period:hover {
        height: 11px;
        transform: translateY(-5px);
        background: #CC2F2F !important;
        opacity: 1;
    }
}

.appear {
    transform: translateY(-30px);
    display: block;
}