.singleCardText__wrapper {
    width: 45%;
    height: 45%;
    border: 1px solid blue;

    .singleCardText__content {
        // background-size: cover;
        // width: 100%;
        // height: 100%;
    }
}