.astronautesPage {
    &__cardsContainer {
        margin-left: 270px;
    }
}

.astronauteContainer {
    min-height: 800px;
    background: red !important;
}

.introLink {
    position: absolute;
    top: 20px;
    left: 20px;
    color: rgba(255, 255, 255, 0.8);
}
.introLink:hover {
    color: rgba(255, 255, 255, 0.6);
}

.bgBehind {
    // background: rgb(224, 224, 224);
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 50vw;
    height: 460px;
}

.bgIntro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -2;
}

.blackOverlay {
    background: rgba(0, 0, 0, .3);
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
}