.Navettes {
    .navetteModal {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid rgba(255, 255, 255, .7);
        background: rgba(255, 255, 255, .1);
        color: rgba(255, 255, 255, .8);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        z-index: 100;

        &__closeBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 30px;
            height: 30px;
            border: 1px solid rgba(255, 255, 255, .7);
            top: 30px;
            right: 30px;
            cursor: pointer;
        }
        &__closeBtn:hover {
            background: rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(255, 255, 255, .9);
        }
        &__imgWrapper {
            width: 40%;
            height: 50%;
           // margin-top: 30px;
        }
        &__img {
            width: 100%;
            height: 100%;
        }
        &__name {
            font-family: 'Avenir', 'Fjalla One', sans-serif;
            font-weight: 600;
            font-size: 2em;
        }
        &__desc {
            font-family: 'Avenir', 'Fjalla One', sans-serif;
            font-size: 1.1em;
            font-weight: 100;
            line-height: 1.4em;
            width: 80%;
            text-align: center;
        }
        &__btn {
            font-family: 'Avenir', 'Fjalla One', sans-serif;
            border: 1px solid rgba(255, 255, 255, .7);
            color: rgba(255, 255, 255, .8);
            width: 40%;
            height: 60px;
            margin-bottom: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            text-transform: uppercase;
            letter-spacing: 0.1em;
        }
        &__btn:hover {
            background: rgba(0, 0, 0, 0.1);
        }
    }
}