.Navettes {
    .navetteModal {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid rgba(0, 0, 0, .6);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: #fff;

        &__closeBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 30px;
            height: 30px;
            border: 1px solid black;
            top: 30px;
            right: 30px;
            cursor: pointer;
        }
        &__imgWrapper {
            width: 30%;
            height: 50%;
            border: 1px solid black;
            margin-top: 30px;
        }
        &__img {
            width: 100%;
            height: 100%;
        }
        &__name {
            font-family: 'Avenir', 'Fjalla One', sans-serif;
            font-weight: 600;
            font-size: 2em;
        }
        &__desc {
            font-family: 'Avenir', 'Fjalla One', sans-serif;
            font-size: 1.1em;
            font-weight: 100;
            line-height: 1.4em;
            color: rgba(0, 0, 0, .6);
            width: 80%;
            text-align: center;
        }
        &__btn {
            border: 1px solid black;
            width: 40%;
            height: 60px;
            margin-bottom: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }
}