.astronautesPage {
    &__cardsContainer {
        &__wrapper {
            height: 39vh;
            width: 17vw;
            background-color: lightgrey;
            display: inline-block;
            margin-right: 16px;
        }
    }
}
.astronautePictures {
    max-width: 100%;
    max-height: 100%;
}