.intro {
    height: 100vh;
    width: 100%;
    &__timelineContainer {
        background: black;
        width: 100%;
        height: 108px;
        position: relative;
    }
}

.bgIntro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -2;
}

.blackOverlay {
    background: rgba(0, 0, 0, .64);
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
}