.intro {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Avenir', 'Fjalla One', sans-serif;
    &__introContainer {
        width: 1056px;
        height: 550px;
        position: relative;
        border-radius: 21px;
        display: flex;
        align-items: center;
        color: white;
        &__homeLink {
            position: absolute;
            top: 44px;
            right: 60px;
            z-index: 1;
            color: grey;
        }
        &__introOverlay {
            width: 100%;
            height: 100%;
            position: absolute;
            background: #f3eaff;
            border-radius: 21px;
            filter: brightness(36%) blur(1px) opacity(70%);
            z-index: 0;
        }
        &__wrapper {
            width: 60%;
            height: 73%;
            position: absolute;
            z-index: 10;
            bottom: 30px;
            right: 60px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
        }
        &__title {
            font-size: 47px;
            text-shadow: rgba(255, 255, 255, .28) 5px 7px 17px;
        }
        &__subtitle {
            font-size: 28px;
            padding-bottom: 16px;
            text-shadow: rgba(255, 255, 255, .28) 5px 7px 17px;
        }
        &__text {
            font-size: 16px;
            font-weight: medium;
            line-height: 37px;
            text-align: right;
        }
        &__linksContainer {
            width: 240px;
            display: flex;
            justify-content: space-between;
        }
        &__links {
            font-size: 14px;
            font-weight: medium;
            color: #B2B2B2;
        }
    }
}

.bgIntro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -2;
}

.blackOverlay {
    background: rgba(0, 0, 0, .3);
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.astroImg {
    position: absolute;
    top: 102px;
    left: -10px;
    height: 658px;
    animation: gravity 2.7s infinite;
}

@keyframes gravity {
    0% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(-5px);
    }
}