.singlePage {
    font-family: 'Avenir', 'Fjalla One', sans-serif;
    &__cardsContainer {
        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-right: 12.5vw;
            height: 65vh;
            transition: ease-in-out 1s;
        }
    }
    &__cardTitle {
        font-family: 'Avenir', 'Fjalla One', sans-serif;
        font-weight: 400;
        font-size: 4em;
        color: #6F6F6F;
        transition: ease-in-out 1s;
    }
    &__card {
        height: 60vh;
        width: 60vw;
        border-radius: 10px;
        box-shadow: 0px 3px 13px rgba(0, 0, 0, .16);
        // display: flex;
        // justify-content: center;
        // align-items: center;
        padding-left: 15%;
        transition: ease-in-out 1s;
        background: white;
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    transform: translateX(-20vw);
    border: none;
    box-shadow: none;
    z-index: 100;
    border-radius: 0px;
    overflow: scroll;
}

.singlePage__head {
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom-right-radius: 25px;
    width: 400px;
    box-shadow: 1px 1px 50px 0px rgba(0, 0, 0, 0.2);
    z-index: 10000;
}

.singlePage__head img {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 20px;
}

.singlePage__head div {
    font-size: 2em;
    margin-left: 140px;
}

.singlePage__intro {
    margin-top: 120px;
    width: 80%;
    line-height: 24px;
}

.singlePage__content {
    line-height: 24px;
    width: 35%;
}